body {
  margin: 0;
  font-family: rubik, arial !important;
  font-size: 14 !important;
  background-color: #fdfdfd;
  color: #263646 !important;
  animation-name: fade;
  animation-duration: .5s;
}

.palette-item {
  width: 240px;
  padding: 10px;
}

.palette-item {
    width: 260px;
    margin: 8px;
    border-radius: 6px;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    animation-name: item;
    animation-duration: .4s;
    display: inline-block;
    text-align: left;
    animation-fill-mode: backwards;
}

.palette {
    max-width: 100%;
    padding-bottom: 100%;
    border-radius: 6px;
    position: relative;
    display: block !important;
}

.c5 {
    padding-bottom: 100%;
    border-radius: 20px 20px 4px 4px;
    animation-duration: 0s;
}
.c4 {
    padding-bottom: 88%;
    animation-duration: .2s;
}
.c3 {
    padding-bottom: 72%;
    animation-duration: .6s;
}

.c2 {
    padding-bottom: 52%;
}

#side {
    width: 220px !important;
    position: fixed !important;
    top: 78px;
    font-size: 14px;
    direction: ltr !important;
    margin-right: 10px;
    animation-name: fade;
    animation-duration: 1s;
}

#feed {
    margin-right: 240px;
    direction: ltr !important;
}

.c1 {
    padding-bottom: 28%;
    border-radius: 4px 4px 0 0;
    animation-duration: 1s;
}

.place {
    width: 100%;
    position: absolute;
    border-radius: 6px 6px 0 0;
    animation-name: place;
    transform-origin: top;
}

.icon {
  max-width: 17px;
}

.date {
    bottom: 21px;
    right: 10px;
}
.date {
    font-size: 12px;
    position: absolute;
    right: 20px;
    bottom: 26px;
    color: #899bb4;
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.like.button {
    margin-top: 10px;
}
.item .like {
    margin-top: 15px;
}
.button {
    line-height: 35px;
    padding: 0 12px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    transition: all .1s;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e9f2f9;
    font-size: 14px;
    position: relative;
}

.place span {
    position: absolute;
    text-align: center;
    transition: all .2s;
    bottom: 0;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.1);
    padding: 3px 6px;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.shadow {
  box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
  transition: box-shadow .3s;
}

.margin-both {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.padding-both {
  padding-left: 6% !important;
  padding-right: 6% !important;
}

.soft_shadow {
    box-shadow: 0 5px 10px 0 rgba(0,64,128,.05);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
